.habit-title {
  color: grey;
  text-decoration: none;
}
.habit-title:hover {
  color: darkgrey;
  text-decoration: none;

}
.fa-plus {
  text-decoration: none;
}
.fa-plus:hover {
  text-decoration: none;
}
.fa-sticky-note {
  text-decoration: none;
}
.fa-sticky-note:hover {
  text-decoration: none;
}
.fa-pencil-alt {
  text-decoration: none;
}
.fa-pencil-alt:hover {
  text-decoration: none;
}
.fa-trash-alt {
  text-decoration: none;
}
.fa-trash-alt:hover {
  text-decoration: none;
}
