.places-container {
  display: flex;
  // flex-wrap: wrap;
}
.places ul {
  padding-left: 20px;
}
#map {
  flex: 0 0 50%;
  min-width: 375px;
  height: 100vh;
  // position: sticky !important;
  top: 75.5px;
}
.ap-dataset-places {
  text-align: left;
  color: black;
}
