.icons-title {
  color: grey;
  text-decoration: none;
}
.icons-title:hover {
  color: darkgrey;
  text-decoration: none;
}
.icons-title-habits {
  color: white;
  text-decoration: none;
}
.icons-title-habits:hover {
  color: lightgrey;
  text-decoration: none;
}
.icons-plus {
  text-decoration: none;
}
.icons-plus:hover {
  text-decoration: none;
}
.icons-note {
  text-decoration: none;
}
.icons-note:hover {
  text-decoration: none;
}
.icons-pencil {
  text-decoration: none;
}
.icons-pencil:hover {
  text-decoration: none;
}
.icons-trash {
  text-decoration: none;
}
.icons-trash:hover {
  text-decoration: none;
}
.icons-circle {
  padding-right: 5px;
}
.icons-archive {
  padding-right: 5px;
}
.icons-pin {
  padding-right: 5px;
}
