<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <h1>Add new habit</h1>

      <%= render "form" %>

      <%= link_to "Home", habits_path %>

    </div>
  </div>
</div>
